<div class="row">
    <section class="main col-md-9">
        <article>
            <h2>Post {{title}}</h2>
            <img src={{featureImage}} alt="feature Image" style="width:100%" />
            <br /><br />
             {{body}}
            <br /><br />
            <strong>Category:</strong> {{id}}<br />
            <strong>Last Updated:</strong> {{postDate}}

        </article>
    </section>
     
</div>